.grid-container{
    min-height: 100vh;
    position: relative;
    background: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 50px;
    padding: 100px;
    padding-right: 16px;
    border: none;


    .order,
    .payment-summary{
        border: none;
    }

}

    .order{
        background: white;
        grid-column: 1/span 2;
        grid-row: 1/span 2;
    }

    .payment-summary{
        background: white;
        //grid-row: 1/span 2;
        padding: 16px;
        background: rgb(235, 232, 232);
    }

    .cart-delivery-wrapper{
        padding: 20px;
        display: flex;
        flex-direction: row;

        .cart-card{
            padding: 16px;
            background: white;
            border-radius: 20px;
            margin-bottom: 20px;
            width: 300px;
        }
    }

@media only screen and (max-width: 800px)  {
    .grid-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 2px;
    }
}



