@import '@/assets/scss/variables.scss';
.grid-container{
    min-height: 100vh;
    position: relative;
    background: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 50px;
    padding: 100px;
    //margin-bottom: -126px;
    //padding-right: 16px;
    border: none;


    .order,
    .payment-summary{
        border: none;
    }

}

    .order{
        background: white;
        grid-column: 1/span 2;
        grid-row: 1/span 2;
    }

    .payment-summary{
        background: white;
        //grid-row: 1/span 2;
        padding: 16px;
        //background: rgb(235, 232, 232);
    }

    .cart-delivery-wrapper{
        padding: 20px;
        display: flex;
        flex-direction: row;

        .cart-card{
            padding: 16px;
            background: white;
            border-radius: 20px;
            margin-bottom: 20px;
            width: 300px;
        }
        
    }

    a#back {
        display: inline;
        margin-left: 220px;
        font-size: 1rem;
        font-weight: 700;
        color: white;
    } 


    @media only screen and (min-width: 860px){

        .middle-bar{
            visibility:visible;
            background: $primary-dark;
        }

        div#empty {
            display: block;
            padding: 10px;
            margin-bottom: 50%;
            margin-top: 80px;
            padding: 100px;
            text-align: center;
    
            img{
                visibility: hidden;
            }
    
            p{
                color: $primary-color;
                font-size: 20px;
                font-weight: 900;
                color: #faae0a;
            }
    
            label{
                font-size: 15px;
                margin-top: 10px;
                 font-weight: 600;
            }
        }
    }

    @media only screen and (max-width: 860px){

        .middle-bar{
            visibility: hidden;
            display: none;
        }
        .grid-container{
            display: block;
            padding: 10px;
            //margin-bottom: 50%;
            margin-top: 80px;
        }

        .order,
    .payment-summary{
        border: none;
        //margin-bottom: 30%;
    }

    div#empty {
        padding: 100px;
        text-align: center;

        img{
            width: 50%;
        }

        p{
            color: $primary-color;
            font-size: 20px;
            font-weight: 900;
            color: #faae0a;
        }

        label{
            font-size: 15px;
            margin-top: 10px;
             font-weight: 600;
        }
    }
}


    @media only screen and (max-width: 470px){


        .grid-container{
            display: block;
            padding: 10px;
           // margin-bottom: 50%;
            margin-top: 80px;
        }

        #cartPage {
            padding: 0rem .5rem;
            //height: 50vh;
            height: 45vh;
            margin-top: 16px;
            overflow-y: auto;
        }

        .order,
    .payment-summary{
        border: none;
       // margin-bottom: 30%;
    }

    div#empty {
        padding: 100px;
        text-align: center;

        img{
            width: 50%;
        }

        p{
            color: $primary-color;
            font-size: 20px;
            font-weight: 900;
            color: #faae0a;
        }

        label{
            font-size: 15px;
            margin-top: 10px;
             font-weight: 600;
        }
    }
    }





