@import '@/assets/scss/variables.scss';
.c-slideout{
    height: 100%;
    width: 100%;

    &_overlay{
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.7);
    //background: linear-gradient(45deg, black, transparent);
        //background: white;
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
    }

    &_container{
        //width: 18.75rem;
        width: 100%;
        height: 100%;
        background: white;
        z-index: 10000;
        position: fixed;
        padding: 20px;
        top: 0;
        left: 0;
        box-sizing: border-box;
    }
}

//close button

.c-close{
    position: absolute;
    background: 0 0;
    opacity: .5;
    right: .625rem;
    top: .4375rem;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
}

//Transitions
.overlay{
&-enter-active,
&-leave-active{
    transition: all 0.3s ease-out;
}

&-enter,
&-leave-to{
background-color:rgba(0,0,0,0.5) ;
}
}

.slide{
    &-enter-active,
    &-leave-active{
        transition: opacity .5s;
    }

    &-enter,
&-leave-to{
    transform: translateX(-100%);
}

}

.slidemenu_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-top: 30px;
    padding: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    align-content: center;

    .userinfo{
        display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 10px;
             
             p{
                 margin-top:5px;
                 font-size: 1rem;
                 font-weight: 200;
                 color: #aaa;
    margin-bottom: 5px;
             }
             h4{
                 font-size: 1.5rem;
             }
    }

    img#image1 {
        border: 1px solid;
        border-color: #ccc;
        border-radius: 50%;
        padding: 5px;
        height: 50px;
    }
}

ul.menu_options {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    margin-top: 30px;
    padding: 20px;
    align-items: flex-start;
    li{
        width:100%;
    }
}

img#fi {
    margin-left: auto;
}

img#licon {
    height: 24px;
    margin-left: auto;
}

.option {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 35px;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    p {
        font-size: 1.4rem;
        color: #aaa;
        font-weight: 600;
        margin-left: 20px;
    }

    img{
        height: 30px;
    }
}

.gmaillink {
    padding: 20px;
    background: #ffe0b3;
    display: flex;
    border-radius: 20px;
    color: #575555;
    font-size: 1.5rem;
    font-weight: 700;
    align-items: center;
    justify-content: space-around;
}

.links{
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.protek {
    padding: 20px;
    color: #aaa;
    font-size: 1.3rem;
    text-align: center;
    font-family: system-ui;
}