.front-header {
    position: fixed;
    //left: 110px;
    //left: 80px;
   // min-width: 500px;
    left: 0;
    //top: 20px;
    top: 0;
    //right: 40px
    right: 0;
    //padding: 1.3rem 1.8rem;
    padding: 10px;
    background: #fff;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    //border-top-right-radius: 8px;
    //width: calc(100% - 190px);
    z-index: 100;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav-logo{
            h3 {
                font-size: 1.6rem;
    
                & + small {
                    display: block !important;
                    margin-top: -3px;
                }
            }
    
        }

        .front-search {
            display: flex;
            align-items: center;
            width: 50%;

            span {
                padding: 1rem 1.4rem;
                font-size: 1.5rem;
            }

            input {
                border: none;
                outline: none;
                height: 40px;
                flex: 1;
                background:#f9f9f9;
                border-radius: 5px;
                padding: 1rem 1.4rem;
                //border-left: 1px solid var(--text-grey);

                &:checked{
                    border-color: #faae0a;
                }
            }
        }

        .front-nav-links {
            display: flex;
            align-items: center;

            div:first-child {
                a, button {
                    display: inline-block;
                    margin: 0rem .5rem;
                    font-size: 1.03rem;
                    font-weight: 600;
                    color: #555;
                    text-transform: uppercase;
                }

                button {
                    background: none;
                    border: none;
                    outline: none;
                }
            }

            div:last-child {
                margin-left: 1.5rem;

                button {
                    padding: .6rem 1rem;
                }

                span:first-child {
                    font-size: 1.3rem;
                }

                span:last-child {
                    font-size: .8rem;
                }
            }
           
        }
    }
}

@media only screen and (min-width: 900px){
    .togglebutton{
        visibility: hidden;
        display: none;
    }
}


@media only screen and (max-width: 470px)  {
    .front-header{
        max-height: 70px;
    }
    small{
        visibility: hidden;
        display: none;
    }

    .front-nav-links {

        div:first-child{
            button{
                display: none;
        }

        div:last-child {
            margin-left: auto;
        }
    }
}

.front-header nav .front-nav-links div:last-child button {
    //padding: 0.6rem 1rem;
    visibility: hidden;
    display: none;
}

h3{
    color: #faae0a;
    //text-align: center;

    & + small{
    visibility: visible;
    display: flex;
    margin-top: -4px;
    color: #ececea;
}
}

.nav-logo{
   // margin-left: 15% !important;
   margin-right: auto;
    padding: 0;
}

}

@media only screen and (max-width: 400px)  {
    h3{
        color: #faae0a;
        //text-align: center;

        & + small{
        visibility: visible;
        display: flex;
        margin-top: -4px;
        color: #faae0a;
    }
}
}